html {
    background: rgba(227, 190, 163, 0.34);
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    margin: 10px;
    padding: 0;
  }
  
  h1, h2 {
    font-weight: 700;
  }
  
  .nav-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding-top: 20px;
  }
  
  .nav-header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-header ul li {
    margin-left: 10px;
    border-bottom: none;
    position: relative;
  }
  
  .nav-header ul li a {
    color: black;
    text-decoration: none;
  }
  
  .nav-header ul li a:hover {
    color: #f34949;
  }
  
  .nav-header ul li .options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: max-content; /* Ajout de la propriété pour maximiser la largeur */
  }
  
  .nav-header ul li.show .options {
    display: block;
  }
  
  .nav-header ul li .options li {
    margin: 5px 0;
  }
  
  .nav-header ul li .options li a {
    color: black;
    text-decoration: none;
  }
  
  .nav-header ul li .options li a:hover,
  .nav-header ul li .options li a:focus {
    color: #f34949;
  }
  
  /* Reponsive Media Query */
  @media screen and (max-width: 480px) {
    .nav-header {
      flex-direction: column;
      align-items: center;
    }
  
    .logo {
      order: -1;
      margin-bottom: 10px;
    }
  }

 /*==================================================fin==============================================*/
 
  section {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 50px;
  }
  
  .image-container {
    flex: 0 0 45%;
    margin-bottom: 10px;
    position: relative;
    max-width: 500px;
  }
  
  .image-container img {
    display: block;
    max-width: 100%;
    margin-top: 100px;
    height: auto;
    object-fit: cover;
    margin-left: 20px;
    max-width: 100%;
  }
  
  .content-container {
    margin-left: 5px;
    margin-top: 200px;
  }
  
  .content-container h1 {
    font-size: 24px;
    color: #f34949;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .content-container h2 {
    font-size: 18px;
    color: #000;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .content-container p {
    font-size: 14px;
    line-height: 1.5;
    color: #000;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 20px;
  }
  
  .content-container h3 {
    font-size: 18px;
    color: #f34949;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .content-container .buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
   
  }
  
  .content-container .buttons-container button {
    margin: 0 10px;
    display: block;
    text-align: center;
    font-weight: bold;
    border: none;
    background-color: #f34949;
    color: #fff;
    /* padding: 10px 20px; */
    text-decoration: none;
    border-radius: 4px;
    width: 100px;
    cursor: pointer;

  }
  .btn-enregistrer {
    background-color: #f34949;
    color: #ffffff;
  }
  
  .btn-enregistrer:hover {
    background-color: #ff6464;
    color: #ffffff;
  }
  
  


  
  .content-container .buttons-container button:hover {
    background-color: #e66c6c;
  }
  .description{
    max-width: 200px;
    text-align: center;
    font-weight: 500px;
  }
  @media (max-width: 768px) {
    section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .content-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  
    .image-container {
      margin-right: 0;
    }
  }
  
 /*==================================================fin==============================================*/
 .content-footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 40px;
}

.defi {
  max-width: 500px;
}

.heure {
  display: flex;
  flex-direction: column;
}

.heure h4 {
  margin-bottom: 10px;
  margin-left: 0;
}

.heure ul {
  padding: 0;
  list-style: none;
}

.heure ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.heure ul li span:first-child {
  margin-right: 10px;
}

footer a {
  color: #333;
  text-decoration: none;
  margin-right: 10px;
}

footer i {
  font-size: 30px;
}

footer a:hover {
  color: red;
}
.footer-bottom{
  text-align: center;
}

/* Media Query pour les appareils mobiles */
@media (max-width: 768px) {
  .content-footer {
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .defi,
  .heure {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .heure {
    align-items: center;
    margin-left: 0;
  }

  .heure h4 {
    text-align: center;
  }
}
  