html {
  background: rgba(227, 190, 163, 0.34);
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  margin: 10px;
  padding: 0;
}

.btn-custom {
  background-color: #f34949;
  color: white;
}

.btn-custom:hover {
  background-color: #e53935;
}

.nav-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding-top: 20px;
}

.nav-header ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-header ul li {
  margin-left: 10px;
  border-bottom: none;
  position: relative;
}

.nav-header ul li a {
  color: black;
  text-decoration: none;
}

.nav-header ul li a:hover {
  color: #f34949;
}

.nav-header ul li .options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: max-content; /* Ajout de la propriété pour maximiser la largeur */
}

.nav-header ul li.show .options {
  display: block;
}

.nav-header ul li .options li {
  margin: 5px 0;
}

.nav-header ul li .options li a {
  color: black;
  text-decoration: none;
}

.nav-header ul li .options li a:hover,
.nav-header ul li .options li a:focus {
  color: #f34949;
}

/* Reponsive Media Query */
@media screen and (max-width: 480px) {
  .nav-header {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    order: -1;
    margin-bottom: 10px;
  }
}

/*==================================================fin==============================================*/
.banner-search {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 500px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  background-color: #f2f2f2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-input::placeholder {
  color: #999;
}

.search-button {
  background-color: #f34949;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.search-button:hover {
  background-color: #555;
}

.container {
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}

.ajouter-btn {
    margin-top: 20px;
    background-color: #f34949;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.ajouter-btn:hover {
    background-color: #e53935;
}

h2 {
    margin-top: 20px;
}

.image-grid {
    margin-top: 10px;
}

.image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-item {
    position: relative;
    margin: 10px;
    flex-basis: calc(25% - 20px);
}

.image-item img {
    width: 100%;
    height: 450px; /* Modifier la valeur de la hauteur ici */
    object-fit: cover;
    transition: transform 0.3s;
}

.reservation-text {
    position: absolute;
    width: 90%;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.25);
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.3s;
   
}

.image-item:hover .reservation-text {
    opacity: 1;
   
}

@media (max-width: 768px) {
    .image-item {
        flex-basis: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .image-item {
        flex-basis: calc(100% - 20px);
    }
}

/*==================================================fin==============================================*/


.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination .page-item {
    margin: 0 5px;
}

.pagination .page-link {
    color: #333;
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pagination .page-link:hover {
    background-color: #f5f5f5;
}

.pagination .page-link[aria-current="page"] {
    background-color: #333;
    color: #fff;
}

.pagination .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
/*==================================================fin==============================================*/


.content-footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .defi {
    max-width: 500px;
  }
  
  .heure {
    display: flex;
    flex-direction: column;
  }
  
  .heure h4 {
    margin-bottom: 10px;
    margin-left: 0;
  }
  
  .heure ul {
    padding: 0;
    list-style: none;
  }
  
  .heure ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .heure ul li span:first-child {
    margin-right: 10px;
  }
  
  footer a {
    color: #333;
    text-decoration: none;
    margin-right: 10px;
  }
  
  footer i {
    font-size: 30px;
  }
  
  footer a:hover {
    color: red;
  }
  .footer-bottom{
    text-align: center;
  }
  
  /* Media Query pour les appareils mobiles */
  @media (max-width: 768px) {
    .content-footer {
      flex-wrap: wrap;
      align-items: flex-start;
    }
  
    .defi,
    .heure {
      max-width: 100%;
      margin-bottom: 20px;
    }
  
    .heure {
      align-items: center;
      margin-left: 0;
    }
  
    .heure h4 {
      text-align: center;
    }
  }


